<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Invoice Submitted</title>

  </head>
  <body>

    {{#if newInvoice}}
      <div class="container mt-5">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading display-6">Success!</h4>
          <p>The invoice has been successfully added with
            {{getProperty newInvoice "Invoice ID"}}</p>
          <hr />

        </div>
      </div>
    {{/if}}
  </body>
</html>