<div class="container mt-5">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading display-6">Success!</h4>
    <p>The invoice has been successfully deleted with invoice id:
      {{{getProperty updatedInvoice "Invoice ID"}}}</p>
    <hr />

    <ul>
      <li><strong>Invoice ID:</strong>
        {{getProperty updatedInvoice "Invoice ID"}}</li>
      <li><strong>Customer Type:</strong>
        {{getProperty updatedInvoice "Customer type"}}</li>
      <li><strong>Unit Price:</strong>
        {{getProperty updatedInvoice "Unit price"}}</li>
    </ul>
  </div>
</div>